<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commencer à écrire</title>
    <link rel="stylesheet" href="bato.css">
</head>
<body>
    <button class="button" onclick="window.location.href='note'">Commencer à écrire <br>Cliquer sur la grosse bite <br>8====D </button>
    </div>
</body>
</html>