<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="bato.css">
</head>
<body>

    <button class="button" onclick="window.location.href='note'">
        Commencer à écrire 
        <br>Cliquer ici
    </button>


    <h1 class="card">
    Commencer à écrire <br> 
    <a href="/note">Cliquer ici sur la grosse bite</a>    <button class="card" onclick="window.location.href='note'">Commencer à écrire <br>Cliquer sur la grosse bite</button>

    </div>
</body>
</html>