<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="bato.css">
</head>
<body>

    <button class="egg-trigger" onclick="toggleEasterEgg()"></button>

    <div id="secretModal" class="egg-modal" onclick="toggleEasterEgg()">
        <video id="secretVideo" onclick="event.stopPropagation()">
            <source src="/meme.mp4" type="video/mp4">
            Ton navigateur ne supporte pas la vidéo.
        </video>
    </div>

    <div class="container">
        <button class="button" onclick="window.location.href='note'">
            Commencer à écrire 
            <br>Cliquer ici
        </button>
    </div>

    <script>
        function toggleEasterEgg() {
            const modal = document.getElementById('secretModal');
            const video = document.getElementById('secretVideo');

            
            if (modal.classList.contains('show')) {
                modal.classList.remove('show');
                video.pause();       
                video.currentTime = 0; 
            } 
            
            else {
                modal.classList.add('show');
                video.volume = 1.0; 
                video.play();       
            }
        }
    </script>
</body>
</html>