<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commencer à écrire</title>
    <link rel="stylesheet" href="/bat.css">
    <script src="./script.js"></script>
</head>
<body>
    <div class="container">
        <input type="text" class="input-title" placeholder="Votre titre ici">
        <textarea class="input-area" placeholder="Votre texte ici"></textarea>
            <div class="button-group">
                <input type="file" class="input-import" accept=".txt" style="display: none;">
                <button class="button-import">Importer</button>
                <button class="button-export">Exporter</button>
            </div>
    <div>
        <div id="confirmation" class="confirmation-message">Fichier exporté avec succès !</div>
        <div id="conf" class="confirmation-message">Fichier importé avec succès !</div>
    </div>
</body>
</html>